<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <script
        src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby&amp;skin=sons-of-obsidian">
    </script>
     <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
     integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
     crossorigin="anonymous"
     referrerpolicy="no-referrer"
   />
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/components.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./grid.css">
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-nav">
                <a href="#">
                    UI Book
                </a>
            </div>
            <button href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="right-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/alert/alert.html">Documentation</a></li>
                <li><a href="https://github.com/vermasavita/">GitHub</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="component-menu">
                <div class="titles"><strong>Components</strong>

                </div>
                <div class="list-items">
                    <ul>
                        <li><a href="/components/alert/alert.html">Alert</a></li>
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/badge/badge.html">Badge</a></li>
                        <li><a href="/components/button/button.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a href="/components/image/image.html">Image</a></li>
                        <li><a href="/components/input/input.html">Input</a></li>
                        <li><a href="/components/typography/typography.html">Typography</a></li>
                        <li><a href="/components/list/list.html">List</a></li>
                        <li><a href="/components/navigation/navigation.html">Navigation</a></li>
                        <li><a href="/components/modal/modal.html">Modal</a></li>
                        <li><a href="/components/rating/rating.html">Rating</a></li>
                        <li><a href="/components/toast/toast.html">Toast</a></li>
                        <li><a href="/components/grid/grid.html">Grid</a></li>

                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <div class="heading">Grid</div>
                <div class="intro-line">
                    Grid helps in dividing a page in several parts and display components in that specific part. It
                    makes page divider process very easy.
                </div>
                <div class="divider"></div>
                <div class="sub-heading">
                    <strong>Two Column Grid</strong>
                </div>
                <div class="sub-head-content">
                    Two items in a grid. Divided in two equal width inside container.
                </div>
                <div class="practical">
                    <div class="two-column-grid">
                        <div class="img-container">
                            <img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="">
                        </div>
                        <div class="content-container">
                           <h1>Rich & Poor Dad</h1>
                           <button>Buy now</button>
                        </div>
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="two-column-grid"&gt;
                        
                            &lt;div class="img-container"&gt;
                                 &lt;img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="image"&gt;
                            &lt;/div&gt;

                            &lt;div class="content-container"&gt;
                                &lt;h1&gt;Rich & Poor Dad&lt;/h1&gt;
                                &lt;button&gt;Buy now&lt;/button&gt;
                            &lt;/div&gt;

                        &lt;/div&gt;
                    </pre>
                </div>
                <div class="sub-heading">
                    <strong>Three Column Grid</strong>
                </div>
                <div class="sub-head-content">
                        Three column grid. Divided in three equal width.
                </div>
                <div class="practical">
                    <div class="grid-container">
                        <div class="cart">
                            <div class="img-container">
                                <img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="" />
                            </div>
                            <div class="product-content">
                                <div class="product-name">
                                    <h3>Rich Dad & Poor Dad</h3>
                                </div>
                                <div class="product-price">
                                    <h2>&#8377;400</h2>
                                    <div class="product-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star grey" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a href="">Add to Cart</a>
                            </div>
                        </div>

                        <div class="cart">
                            <div class="img-container">
                              <img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="" />
                            
                            </div>
                            <div class="product-content">
                              <div class="product-name">
                                <h3>Rich Dad & Poor Dad</h3>
                              </div>
                              <div class="product-price">
                                <h2>&#8377;400</h2>
                                <div class="product-rating">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star grey" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                            <div class="add-to-cart">
                              <a href="">Add to Cart</a>
                            </div>
                          </div>

                          <div class="cart">
                            <div class="img-container">
                              <img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="" />
                            </div>
                            <div class="product-content">
                              <div class="product-name">
                                <h3>Rich Dad & Poor Dad</h3>
                              </div>
                              <div class="product-price">
                                <h2>&#8377;400</h2>
                                <div class="product-rating">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star grey" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                            <div class="add-to-cart">
                              <a href="">Add to Cart</a>
                            </div>
                          </div>
                    </div>

                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                    &lt;div class="grid-container"&gt;  
                        &lt;div class="cart"&gt;
                            &lt;div class="img-container"&gt;
                                &lt;img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="" /&gt;
                            &lt;/div&gt;

                            &lt;div class="product-content"&gt;
                                &lt;div class="product-name"&gt;
                                    &lt;h3&gt;Rich Dad & Poor Dad&lt;/h3&gt;
                                &lt;/div&gt;

                                &lt;div class="product-price"&gt;
                                    &lt;h2&gt;&#8377;400&lt;/h2&gt;
                                    &lt;div class="product-rating"&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star grey" aria-hidden="true"&gt;&lt;/i&gt;
                                     &lt;/div&gt;
                                &lt;/div&gt;

                            &lt;/div&gt;

                            &lt;div class="add-to-cart"&gt;
                                &lt;a href="">Add to Cart&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class="cart"&gt;
                            &lt;div class="img-container"&gt;
                                &lt;img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="" /&gt;
                            &lt;/div&gt;

                            &lt;div class="product-content"&gt;
                                &lt;div class="product-name"&gt;
                                    &lt;h3&gt;Rich Dad & Poor Dad&lt;/h3&gt;
                                &lt;/div&gt;

                                &lt;div class="product-price"&gt;
                                    &lt;h2&gt;&#8377;400&lt;/h2&gt;
                                    &lt;div class="product-rating"&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star grey" aria-hidden="true"&gt;&lt;/i&gt;
                                     &lt;/div&gt;
                                &lt;/div&gt;

                            &lt;/div&gt;

                            &lt;div class="add-to-cart"&gt;
                                &lt;a href="">Add to Cart&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class="cart"&gt;
                            &lt;div class="img-container"&gt;
                                &lt;img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="" /&gt;
                            &lt;/div&gt;

                            &lt;div class="product-content"&gt;
                                &lt;div class="product-name"&gt;
                                    &lt;h3&gt;Rich Dad & Poor Dad&lt;/h3&gt;
                                &lt;/div&gt;

                                &lt;div class="product-price"&gt;
                                    &lt;h2&gt;&#8377;400&lt;/h2&gt;
                                    &lt;div class="product-rating"&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                        &lt;i class="fa fa-star grey" aria-hidden="true"&gt;&lt;/i&gt;
                                     &lt;/div&gt;
                                &lt;/div&gt;

                            &lt;/div&gt;

                            &lt;div class="add-to-cart"&gt;
                                &lt;a href="">Add to Cart&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        
                    &lt;/div&gt;
                    </pre>
                </div>

                <div class="divider"></div>
                <footer>
                    <div class="pre-page">
                        <a href="/components/toast/toast.html">
                            <i class="bx bxs-left-arrow-alt"></i>Toast
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="./index.js"></script>
    </div>
</body>

</html>
