<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <script
        src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby&amp;skin=sons-of-obsidian">
    </script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/components/card/card.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-nav">
                <a href="#">
                    UI Book
                </a>
            </div>
            <button href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="right-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/alert/alert.html">Documentation</a></li>
                <li><a href="https://github.com/vermasavita/">GitHub</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="component-menu">
                <div class="titles"><strong>Components</strong>

                </div>
                <div class="list-items">
                    <ul>
                        <li><a href="/components/alert/alert.html">Alert</a></li>
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/badge/badge.html">Badge</a></li>
                        <li><a href="/components/button/button.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a href="/components/image/image.html">Image</a></li>
                        <li><a href="/components/input/input.html">Input</a></li>
                        <li><a href="/components/typography/typography.html">Typography</a></li>
                        <li><a href="/components/list/list.html">List</a></li>
                        <li><a href="/components/navigation/navigation.html">Navigation</a></li>
                        <li><a href="/components/modal/modal.html">Modal</a></li>
                        <!-- <li><a href="#">Rating</a></li>
                        <li><a href="#">Tost</a></li>
                        <li><a href="#">Grid</a></li>
                        <li><a href="#">Slider</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <div class="heading">Card</div>
                <div class="intro-line">
                    Card provides a conatiner to keep the text, image, button and icon etc all together. 
                </div>
                <div class="divider"></div>
                <div class="sub-heading">
                    <strong>Text Card</strong>
                </div>
                <div class="sub-head-content">
                    Text card only contain text. It can be created by using three classes i.e <strong>class = "card-box", class="card-title", class="card-content"</strong>.
                </div>
                <div class="practical">
                    <div class="card-box">
                        <div class="card-title">Kung Fu Panda</div>
                        <div class="card-content">You are the <strong>Master</strong> of your own
                            <strong>Destiny</strong>: No one and nothing can
                            come in between you and you destiny except you.
                        </div>
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="card-box"&gt;

                            &lt;div class="card-title"&gt;Kung Fu Panda&lt;/div&gt;

                            &lt;div class="card-content"&gt;You are the &lt;strong>Master&lt;/strong&gt; of your own
                                &lt;strong&gt;Destiny&lt;/strong&gt;:
                                No one and nothing can come in between you and you destiny except you.
                            &lt;/div&gt;

                        &lt;/div&gt;
                    </pre>
                </div>

                <div class="sub-heading">
                    <strong>Text Overlay</strong> | <strong>Image</strong> | <strong>Dismiss Card</strong>
                </div>
                <div class="sub-head-content">
                    To add an image on a card use img tag, for text overlay use <strong>class = "txt-overlay"</strong> and to cancel the card use icon inside <strong>class = "card-box"</strong>.
                </div>
                <div class="practical">
                    <div class="card-box">
                        <div class="card-head-box card-title">
                            <img src="/images/kf-panda-1.jpeg">
                            <div class="txt-overlay">Kung Fu Panda</div>
                            <a href="#">
                                <i class='bx bx-x'></i>
                            </a>
                        </div>
                        <div class="card-content"> You gotta let go of that stuff from the past because it just doesn't
                            matter.
                            The only thing matter is what you choose to be <strong>NOW</strong>.
                        </div>
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="card-box"&gt;

                            &lt;div class="card-head-box card-title"&gt;

                                &lt;img src="/images/kf-panda-1.jpeg"&gt;
                                &lt;div class="txt-overlay"&gt;Kung Fu Panda&lt;/div&gt;

                                &lt;a href="#"&gt;
                                    &lt;i class='bx bx-x'&gt;&lt;/i&gt;
                                &lt;/a&gt;

                            &lt;/div&gt;

                            &lt;div class="card-content"&gt; You gotta let go of that stuff from the past because it just doesn't
                                matter. The only thing matter is what you choose to be &lt;strong&gt;NOW&lt;/strong&gt;.
                            &lt;/div&gt;

                        &lt;/div&gt;
                    </pre>
                </div>
                <div class="sub-heading">
                    <strong>Badge Card</strong>
                </div>
                <div class="sub-head-content">
                    Badge card is nothing but help to give some tag or highlight the card using badge. It can be created by using <strong>class = "badge"</strong> in existing classes.
                </div>
                <div class="practical">
                    <div class="card-box">
                        <div class="card-head-box card-title">
                            <div class="badge">Best</div>
                            <img src="/images/kf-panda-2.jpeg">
                            <div class="txt-overlay">Kung Fu Panda</div>
                            <a href="#">
                                <i class='bx bx-x'></i>
                            </a>
                        </div>
                        <div class="card-content"> There is always something more to learn evern for a
                            <strong>Master</strong>.
                        </div>
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="card-box"&gt;

                            &lt;div class="card-head-box card-title"&gt;

                                &lt;div class="badge">Best&lt;/div&gt;
                                &lt;img src="/images/kf-panda-2.jpeg"&gt;
                                
                                &lt;div class="txt-overlay"&gt;
                                    Kung Fu Panda
                                &lt;/div&gt;

                                &lt;a href="#"&gt;
                                    &lt;i class='bx bx-x'&gt;&lt;/i&gt;
                                &lt;/a&gt;

                            &lt;/div&gt;

                            &lt;div class="card-content"&gt; 
                                You gotta let go of that stuff from the past because it just doesn't
                                matter. The only thing matter is what you choose to be &lt;strong&gt;NOW&lt;/strong&gt;.
                            &lt;/div&gt;

                        &lt;/div&gt;
                    </pre>
                </div>
                <div class="sub-heading">
                    <strong>Ecommerce Product Card</strong>
                </div>
                <div class="sub-head-content">
                    Ecommerce Product Card is a card which is used in ecommerce website to display a product or to add or remove that product from wishlist.
                </div>
                <div class="practical">
                    <div class="cart">
                        <div class="img-container">
                          <img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="" />
                          <ul class="product-action-icon">
                            <li>
                              <i class="fa fa-heart" aria-hidden="true"></i>
                            </li>
                          </ul>
                        </div>
                        <div class="product-content">
                          <div class="product-name">
                            <h3>Rich Dad & Poor Dad</h3>
                          </div>
                          <div class="product-price">
                            <h2>&#8377;400</h2>
                            <div class="product-rating">
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star grey" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                        <div class="add-to-cart">
                          <a href="">Add to Cart</a>
                        </div>
                      </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="cart"&gt;

                                    &lt;div class="img-container"&gt;
                                        &lt;img src="https://m.media-amazon.com/images/I/81bsw6fnUiL._AC_UY218_.jpg" alt="" /&gt;
                                        &lt;ul class="product-action-icon"&gt;
                                            &lt;li&gt;
                                                &lt;i class="bx bx-heart" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;

                                    &lt;div class="product-content"&gt;
                                        &lt;div class="product-name"&gt;
                                            &lt;h3&gt;Rich Dad & Poor Dad&lt;/h3&gt;
                                        &lt;/div&gt;
                                
                                        &lt;div class="product-price"&gt;
                                            &lt;h2&gt;&#8377;400&lt;/h2&gt;
                                            &lt;div class="product-rating"&gt;
                                                &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                                &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                                &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                                &lt;i class="fa fa-star" aria-hidden="true"&gt;&lt;/i&gt;
                                                &lt;i class="fa fa-star grey" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                    &lt;/div&gt;

                                    &lt;div class="add-to-cart"&gt;
                                          &lt;a href=""&gt;Add to Cart&lt;/a&gt;
                                    &lt;/div&gt;

                                &lt;/div&gt;
                                          
                        </pre>
                        </div>
                        <div class="sub-heading">
                            <strong>Ecommerce Horizontal Card</strong>
                        </div>
                        <div class="sub-head-content">
                            Ecommerce Horizontal Product Card is a card which is used horizontally in ecommerce website to display a product or to add or remove that product from wishlist.
                        </div>
                <div class="practical">
                    <div class="ecommerce-card-box horizontal-card">
                        <div class="card-header">
                            <img src="https://images-eu.ssl-images-amazon.com/images/I/51InjRPaF7L._SX198_BO1,204,203,200_QL40_FMwebp_.jpg" alt="">
                        </div>

                        <div class="card-info">
                            <h1>Eloquent JavaScript </h1>
                            <h4>Paperback</h4>
                            <div class="product-price">&#x20B9;2500</div>
                            <div class="quantity">
                                <label for="number">Quantity:</label>
                                    <input type="number" name="" id="">
                                

                            </div>
                            <div class="card-btn">
                                <button class="add-btn">Move to Wishlist</button>
                            </div>
                        </div>

                        
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="ecommerce-card-box horizontal-card"&gt;

                                &lt;div class="card-header"&gt;
                                    &lt;img src="/images/img-avatar-2.jpeg" alt=""&gt;
                                    <!-- &lt;img src="https://images-eu.ssl-images-amazon.com/images/I/51InjRPaF7L._SX198_BO1,204,203,200_QL40_FMwebp_.jpg" alt=""&gt; -->
                                    &lt;div class="heart-icon"&gt; &lt;i class="bx bx-heart"&gt; &lt;/i&gt; &lt;/div&gt;
                                &lt;/div&gt;
    
                                &lt;div class="card-info"&gt;
                                    &lt;h1 &gt;Eloquent JavaScript  &lt;/h1&gt;
                                    &lt;h4 &gt;Paperback &lt;/h4&gt;
                                    &lt;div class="product-price" &gt;&#x20B9;2500 &lt;/div&gt;
                                &lt;/div&gt;
                            
                                &lt;div class="quantity"&gt;
                                    &lt;label for="number"&gt;Quantity:&lt;/label&gt;
                                        &lt;input type="number" name="" id=""&gt;
                                &lt;/div&gt;

                                &lt;div class="card-btn"&gt;
                                    &lt;button class="add-btn"&gt;Move to Wishlist &lt;/button&gt;
                                &lt;/div&gt;
                                
                        &lt;/div&gt;
                        </pre>
                        </div>
                        
                <div class="divider"></div>
                <footer>
                    <div class="pre-page">
                        <a href="/components/button/button.html">
                            <i class="bx bxs-left-arrow-alt"></i>Button
                        </a>
                    </div>
                    <div class="next-page">
                        <a href="/components/image/image.html">
                            <i class='bx bxs-right-arrow-alt'></i>Image
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/script.js"></script>
    </div>
</body>

</html>
