.card-box {
    box-shadow: 0px 0px 4px 1px var(--bg-secondary-color);
    padding: 1rem;
    width: 25rem;
    overflow: hidden;
}

.card-title {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.card-content {
    font-size: 1.5rem;
}

.card-head-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.card-head-box a {
    display: flex;
    text-decoration: none;
}

.card-head-box a i {
    border-radius: 50%;
    padding: .4rem;
    color: var(--text-color);
    cursor: pointer;
    text-align: center;
}

.card-head-box img {
    overflow: hidden;
}

.txt-overlay {
    position: absolute;
    bottom: .1rem;
    padding-left: .5rem;
}

.card-box .bx {
    position: absolute;
    top: .3rem;
    right: .2rem;
    font-weight: bolder;
    color: var(--secondary-color);
}

.card-head-box a i:hover {
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
}

.card-head-box .badge {
    padding: .2rem 1rem;
    position: absolute;
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    top: -1rem;
    left: -1rem;
}

.ecommerce-card-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 30rem;
    background-color: var(--bg-success-color);
    border-radius: 5px;
}
.card-header{
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-header img{
    height: 90%;
    width: 70%;
    overflow: hidden;
    object-fit: cover;
}
.card-info{
    padding: 1rem;
}

.heart-icon .bx-heart{
    position: absolute;
    top: 0;
    right: 0;
    padding: .2rem;
    font-size: 2.5rem;
    border-radius: 50%;
    margin: 1rem;
}
.card-info h4{
    font-size: 1.5rem;
    font-weight: 300;
}

.card-btn .add-btn{
    width: 100%;
    font-size: 1.8rem;
    border: none;
    background: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 0px 0px 5px 5px;
}

.product-price{
    margin-top: 1rem;
    font-size: 2rem;
}

.practical .horizontal-card{
    width: 50rem;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.practical .horizontal-card .card-header{
    width: 23rem;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

.practical .horizontal-card .card-header img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.practical .horizontal-card .card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem .5rem;
    padding-right: 6rem;
}

.practical .horizontal-card .card-info .product-price{
    margin: 2rem 0;
}
.practical .horizontal-card .card-info .card-btn .add-btn{
    width: 100%;
    border-radius: 0px;
    cursor: pointer;
}

.quantity{
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 4rem;
}

.quantity label{
    margin-right: .5rem;
}

.quantity input{
    padding: .5rem 1rem;
    width: 8rem;
}
