<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <script
        src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby&amp;skin=sons-of-obsidian">
    </script>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/components/alert/alert.css">
    <link rel="stylesheet" href="/components/input/input.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-nav">
                <a href="#">
                    UI Book
                </a>
            </div>
            <button href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="right-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/alert/alert.html">Documentation</a></li>
                <li><a href="https://github.com/vermasavita/">GitHub</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="component-menu">
                <div class="titles"><strong>Components</strong>

                </div>
                <div class="list-items">
                    <ul>
                        <li><a href="/components/alert/alert.html">Alert</a></li>
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/badge/badge.html">Badge</a></li>
                        <li><a href="/components/button/button.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a href="/components/image/image.html">Image</a></li>
                        <li><a href="/components/input/input.html">Input</a></li>
                        <li><a href="/components/typography/typography.html">Typography</a></li>
                        <li><a href="/components/list/list.html">List</a></li>
                        <li><a href="/components/navigation/navigation.html">Navigation</a></li>
                        <li><a href="/components/modal/modal.html">Modal</a></li>
                        <li><a href="/components/rating/rating.html">Rating</a></li>
                        <li><a href="/components/toast/toast.html">Toast</a></li>
                        <li><a href="/components/grid/grid.html">Grid</a></li>
                      

                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <div class="heading">Input</div>
                <div class="intro-line">
                    Input fields are used to having interaction with users on a website. It is a core feature to collect
                    the data.
                </div>
                <div class="divider"></div>
                <div class="sub-heading">
                    <strong>Label Input (Login Page) </strong>
                </div>
                <div class="sub-head-content">
                    Label input comes with a label. It can be customised by showing errors or some message at top of the
                    input box.
                </div>
                <div class="practical">
                    <div class="login-container">
                        <h1>Login</h1>
                        <div class="login-credential">
                            <div class="login-email">
                                <label for="">Email address *</label>
                                <input type="email" name="" id="">
                            </div>
                            <div class="login-password">
                                <label for="">Password *</label>
                                <input type="password" name="" id="">Wrong password. Try again.
                            </div>
                        </div>
                        <div class="con">
                            <div class="remember-me">
                                <input type="checkbox" id="remember-box">
                                <label id="remember-box" for="">
                                    Remember me
                                </label>
                            </div>
                            <a href="">Forgot your password?</a>
                        </div>
                        <div class="login-btns">
                            <a href="" class="login">Login</a>
                            <a href="" class="new-account">Create New Account <strong>&#x3e;</strong></a>
                        </div>
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="login-container"&gt;
                            &lt;h1&gt;Login&lt;/h1&gt;
                            &lt;div class="login-credential"&gt;
                                &lt;div class="login-email"&gt;
                                    &lt;label for=""&gt;Email address *&lt;/label&gt;
                                    &lt;input type="email" name="" id=""&gt;
                                &lt;/div&gt;

                                &lt;div class="login-password"&gt;
                                    &lt;label for=""&gt;Password *&gt;/label&gt;
                                    &lt;input type="password" name="" id=""&gt;Wrong password. Try again.
                                &lt;/div&gt;
                            &lt;/div&gt;

                        &lt;div class="con"&gt;

                            &lt;div class="remember-me"&gt;
                                &lt;input type="checkbox" id="remember-box"&gt;
                                &lt;label id="remember-box" for=""&gt;Remember me
                                &lt;/label&gt;
                            &lt;/div&gt;

                            &lt;a href=""&gt;Forgot your password?&lt;/a&gt;

                        &lt;/div&gt;

                        &lt;div class="login-btns"&gt;
                            &lt;a href="" class="login"&gt;Login&lt;/a&gt;
                            &lt;a href="" class="new-account"&gt;Create New Account &lt;strong&gt;&#x3e;&lt;/strong&gt;&lt;/a&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                    </pre>
                </div>
                <div class="sub-heading">
                    <strong>Radio</strong>
                </div>
                <div class="sub-head-content">
                    Radio button allows users to select options from the set. It can be created by using <strong>class =
                        "radio</strong>.
                </div>
                <div class="practical">
                    <div class="radio">
                        <label for="radio-1">Checked
                            <input id="radio-1" name=radio" type="radio" checked>
                        </label>
                    </div>
                    <div class="radio">
                        <label for="radio-2">Unchecked
                            <input id="radio-2" name=radio" type="radio" unchecked>
                        </label>
                    </div>

                    <div class="radio">
                        <label for="radio-3">Disabled
                            <input id="radio-3" name=radio" type="radio" disabled>
                        </label>
                    </div>

                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                    &lt;div class="radio"&gt;
                        &lt;label for="radio-1"&gt;Checked
                            &lt;input id="radio-1" name=radio" type="radio" checked&gt;
                        &lt;/label&gt;
                    &lt;/div&gt;

                    &lt;div class="radio"&gt;
                        &lt;label for="radio-2"&gt;Unchecked
                            &lt;input id="radio-2" name=radio" type="radio" unchecked&gt;
                        &lt;/label&gt;
                    &lt;/div&gt;

                    &lt;div class="radio"&gt;
                        &lt;label for="radio-3"&gt;Disabled
                            &lt;input id="radio-3" name=radio" type="radio" disabled&gt;
                        &lt;/label&gt;
                    &lt;/div&gt;
                    </pre>
                </div>

                <div class="sub-heading">
                    <strong>Checkbox</strong>
                </div>
                <div class="sub-head-content">
                    Checkbox allows users to choose more than one item from the set. It can be created by using
                    <strong>class = "checkbox</strong>.
                </div>
                <div class="practical">
                    <div class="checkbox">
                        <label for="checkbox-1">Checked
                            <input id="checkbox-1" name=checkbox" type="checkbox" checked>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="checkbox-2">Unchecked
                            <input id="checkbox-2" name=checkbox" type="checkbox" unchecked>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label for="checkbox-3">Disabled
                            <input id="checkbox-3" name=checkbox" type="checkbox" disabled>
                        </label>
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="checkbox"&gt;
                            &lt;label for="checkbox-1"&gt;Checked
                                &lt;input id="checkbox-1" name=checkbox" type="checkbox" checked&gt;
                            &lt;/label&gt;
                        &lt;/div&gt;

                        &lt;div class="checkbox"&gt;
                            &lt;label for="checkbox-2"&gt;Unchecked
                                &lt;input id="checkbox-2" name=checkbox" type="checkbox" unchecked&gt;
                            &lt;/label&gt;
                        &lt;/div&gt;

                        &lt;div class="checkbox"&gt;
                            &lt;label for="checkbox-3"&gt;Disabled
                                &lt;input id="checkbox-3" name=checkbox" type="checkbox" disabled&gt;
                            &lt;/label&gt;
                        &lt;/div&gt;
                    </pre>
                </div>
                <div class="divider"></div>
                <footer>
                    <div class="pre-page">
                        <a href="/components/image/image.html">
                            <i class="bx bxs-left-arrow-alt"></i>Image
                        </a></div>
                    <div class="next-page">
                        <a href="/components/typography/typography.html">
                            <i class='bx bxs-right-arrow-alt'></i>Typography
                        </a></div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/script.js"></script>
    </div>
</body>

</html>
