<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button</title>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby&amp;skin=sons-of-obsidian">
  </script>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/components.css">
  <link rel="stylesheet" href="/components/alert/alert.css">
  <link rel="stylesheet" href="/components/button/button.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="container">
    <nav class="nav-bar">
      <div class="left-nav">
        <a href="#">
          UI Book
        </a>
      </div>
      <button href="#" class="toggle-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <ul class="right-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="https://github.com/vermasavita/">GitHub</a></li>
      </ul>
    </nav>
    <div class="doc-container">
      <div class="component-menu">
        <div class="titles"><strong>Components</strong>

        </div>
        <div class="list-items">
          <ul>
            <li><a href="/components/alert/alert.html">Alert</a></li>
            <li><a href="/components/avatar/avatar.html">Avatar</a></li>
            <li><a href="/components/badge/badge.html">Badge</a></li>
            <li><a href="/components/button/button.html">Button</a></li>
            <li><a href="/components/card/card.html">Card</a></li>
            <li><a href="/components/image/image.html">Image</a></li>
            <li><a href="/components/input/input.html">Input</a></li>
            <li><a href="/components/typography/typography.html">Typography</a></li>
            <li><a href="/components/list/list.html">List</a></li>
            <li><a href="/components/navigation/navigation.html">Navigation</a></li>
            <li><a href="/components/modal/modal.html">Modal</a></li>
            <!-- <li><a href="#">Rating</a></li>
            <li><a href="#">Tost</a></li>
            <li><a href="#">Grid</a></li>
            <li><a href="#">Slider</a></li> -->

          </ul>
        </div>
      </div>
      <div class="doc-content">
        <div class="heading">Button</div>
        <div class="intro-line">
          Button is the container which used to perform specific action.
        </div>
        <div class="divider"></div>
        <div class="sub-heading">
          <strong>Basic Button</strong>
        </div>
        <div class="sub-head-content">
          Basic buttons have three different styles. Use text style by using <strong>class = "text"</strong>, container button by using <strong>class = "contained"</strong> and outline button by using <strong>class = "outline</strong>.
        </div>
        <div class="practical">
          <button class="btn text">Text</button>
          <button class="btn contained">Contained</button>
          <button class="btn outline">Outline</button>
        </div>
        <div class="code-box">
          <pre class="prettyprint">
            &lt;button class="btn text"&gt;Text&lt;/button&gt;
            &lt;button class="btn contained"&gt;Contained&lt;/button&gt;
            &lt;button class="btn outline"&gt;Outline&lt;/button&gt;
          </pre>
        </div>
        <div class="sub-heading">
          <strong>Link Button</strong>
        </div>
        <div class="sub-head-content">
          Link buttons have links inside them. It is created by using an anchor tag instead of a button tag. Use the link button by using <strong>class = "link"</strong>.
        </div>
        <div class="practical">
          <button class="btn">
            <a class="link" href="#">Link</a>
          </button>

        </div>
        <div class="code-box">
          <pre class="prettyprint">
            &lt;button class="btn"&gt;
              &lt;a class="link" href="#"&gt;Link&lt;/a&gt;
            &lt;/button&gt;
          </pre>
        </div>
        <div class="sub-heading">
          <strong>Icon Button</strong>
        </div>
        <div class="sub-head-content">
          Icon button gets created by using an icon inside the button. It can be created this by using <strong>class = "btn-icon"</strong> along with <strong>class = "btn"</strong>.
        </div>
        <div class="practical">
          <button class="btn btn-icon">Send
            <i class='bx bxs-send'></i>
          </button>
        </div>
        <div class="code-box">
          <pre class="prettyprint">
            &lt;button class="btn btn-icon"&gt;
              &lt;i class='bx bxs-send'&gt;&lt;/i&gt;
            &lt;/button&gt;
          </pre>
        </div>
        <div class="sub-heading">
          <strong>Floating Action Button</strong>
        </div>
        <div class="sub-head-content">
          Floating button used to float the screen generally. This can be created by using <strong>class = "float-icon"</strong>.
        </div>
        <div class="practical">
          <button class="float-icon">
            <i class='bx bx-plus'></i>
          </button>
          <button class="float-icon">
            <i class='bx bx-up-arrow-alt'></i>
          </button>
        </div>
        <div class="code-box">

          <pre class="prettyprint">
            &lt;button class="float-icon"&gt;
              &lt;i class='bx bx-plus'&gt;&lt;/i&gt;
            &lt;/button&gt;

            &lt;button class="float-icon"&gt;
              &lt;i class='bx bx-up-arrow-alt'&gt;&lt;/i&gt;
            &lt;/button&gt;
          </pre>
        </div>
        <div class="divider"></div>
        <footer>
          <div class="pre-page">
            <a href="/components/badge/badge.html">
              <i class="bx bxs-left-arrow-alt"></i>Badge
            </a></div>
          <div class="next-page">
            <a href="/components/card/card.html">
              <i class='bx bxs-right-arrow-alt'></i>Card
            </a></div>

        </footer>
      </div>
    </div>
  </div>
  <script src="/script.js"></script>
  </div>
</body>

</html>
