<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Avatar</title>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby&amp;skin=sons-of-obsidian">
  </script>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/components.css">
  <link rel="stylesheet" href="/components/alert/alert.css">
  <link rel="stylesheet" href="/components/avatar/avatar.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="container">
    <nav class="nav-bar">
      <div class="left-nav">
        <a href="#">
          UI Book
        </a>
      </div>
      <button href="#" class="toggle-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <ul class="right-nav">
        <li><a href="#">Home</a></li>
        <li><a href="/components/alert/alert.html">Documentation</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="doc-container">
      <div class="component-menu">
        <div class="titles"><strong>Components</strong>

        </div>
        <div class="list-items">
          <ul>
            <li><a href="/components/alert/alert.html">Alert</a></li>
            <li><a href="/components/avatar/avatar.html">Avatar</a></li>
            <li><a href="/components/badge/badge.html">Badge</a></li>
            <li><a href="/components/button/button.html">Button</a></li>
            <li><a href="/components/card/card.html">Card</a></li>
            <li><a href="/components/image/image.html">Image</a></li>
            <li><a href="/components/input/input.html">Input</a></li>
            <li><a href="#">Text Utilities</a></li>
            <li><a href="#">List</a></li>
            <li><a href="#">Navigation</a></li>
            <li><a href="#">Modal</a></li>
            <li><a href="#">Rating</a></li>
            <li><a href="#">Tost</a></li>
            <li><a href="#">Grid</a></li>
            <li><a href="#">Slider</a></li>

          </ul>
        </div>
      </div>
      <div class="doc-content">
        <div class="heading">Avatar</div>
        <div class="intro-line">
          In simple words, Avatar is the profile picture we put on our profile information page, navigation bar, and so
          on.
        </div>
        <div class="divider"></div>
        <div class="sub-heading">
          <strong>Image Avatar</strong>
        </div>
        <div class="sub-head-content">
          Image avatar can be created by using <code>img</code>, <code>img</code>, <code>src</code>, <code>srcSet</code>
          to the component.
        </div>
        <div class="practical avatar-box">
          <img src="/images/img-avatar-1.jpeg" alt="avatar image 1" class="avatar">
          <img src="/images/img-avatar-2.jpeg" alt="avatar image 2" class="avatar">
          <img src="/images/img-avatar-3.jpeg" alt="avatar image 3" class="avatar">
        </div>
        <div class="code-box">
          <pre class="prettyprint">
            &lt;div class="avatar-box"&gt;

              &lt;img src="/images/img-avatar-1.jpeg" alt="avatar image 1" class="avatar"&gt;
              &lt;img src="/images/img-avatar-2.jpeg" alt="avatar image 2" class="avatar"&gt;
              &lt;img src="/images/img-avatar-3.jpeg" alt="avatar image 3" class="avatar"&gt;

            &lt;/div>
          </pre>
        </div>
        <div class="sub-heading">
          <strong>Square Avatar</strong>
        </div>
        <div class="sub-head-content">
          Image avatar can be created by using <code>img</code>, <code>img</code>, <code>src</code>, <code>srcSet</code>
          to the component.
        </div>
        <div class="practical avatar-box">
          <img src="/images/img-avatar-1.jpeg" alt="avatar image 1" class="avatar square-avatar">
          <img src="/images/img-avatar-2.jpeg" alt="avatar image 2" class="avatar square-avatar">
          <img src="/images/img-avatar-3.jpeg" alt="avatar image 3" class="avatar square-avatar">
        </div>
        <div class="code-box">
          <pre class="prettyprint">
            &lt;div class="avatar-box"&gt;

              &lt;img src="/images/img-avatar-1.jpeg" alt="avatar image 1" class="avatar square-avatar"&gt;
              &lt;img src="/images/img-avatar-2.jpeg" alt="avatar image 2" class="avatar square-avatar"&gt;
              &lt;img src="/images/img-avatar-3.jpeg" alt="avatar image 3" class="avatar square-avatar"&gt;

            &lt;/div>
          </pre>
        </div>
        <div class="sub-heading">
          <strong>Size Avatar</strong>
        </div>
        <div class="sub-head-content">

        </div>
        <div class="practical avatar-box">
          <img src="/images/img-avatar-1.jpeg" alt="avatar image 1" class="avatar size-1">
          <img src="/images/img-avatar-2.jpeg" alt="avatar image 2" class="avatar size-2">
          <img src="/images/img-avatar-3.jpeg" alt="avatar image 3" class="avatar size-3">
        </div>
        <div class="code-box">
          <pre class="prettyprint">
            &lt;div class="avatar-box"&gt;

              &lt;img src="/images/img-avatar-1.jpeg" alt="avatar image 1" class="avatar size-1"&gt;
              &lt;img src="/images/img-avatar-2.jpeg" alt="avatar image 2" class="avatar size-2"&gt;
              &lt;img src="/images/img-avatar-3.jpeg" alt="avatar image 3" class="avatar size-3"&gt;

            &lt;/div>
          </pre>
        </div>
        <div class="divider"></div>
        <footer>
          <div class="pre-page">
            <a href="#">
              <i class="bx bxs-left-arrow-alt"></i>Alert
            </a></div>
          <div class="next-page">
            <a href="/components/badge/badge.html">
              <i class='bx bxs-right-arrow-alt'></i>Badge
            </a></div>
        </footer>
      </div>
    </div>
  </div>
  <script src="/script.js"></script>
  </div>
</body>

</html>