<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <script
        src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby&amp;skin=sons-of-obsidian">
        </script>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/components/navigation/navigation.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-nav">
                <a href="#">
                    UI Book
                </a>
            </div>
            <button href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="right-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/alert/alert.html">Documentation</a></li>
                <li><a href="https://github.com/vermasavita/">GitHub</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="component-menu">
                <div class="titles"><strong>Components</strong>

                </div>
                <div class="list-items">
                    <ul>
                        <li><a href="/components/alert/alert.html">Alert</a></li>
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/badge/badge.html">Badge</a></li>
                        <li><a href="/components/button/button.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a href="/components/image/image.html">Image</a></li>
                        <li><a href="/components/input/input.html">Input</a></li>
                        <li><a href="/components/typography/typography.html">Typography</a></li>
                        <li><a href="/components/list/list.html">List</a></li>
                        <li><a href="/components/navigation/navigation.html">Navigation</a></li>
                        <li><a href="/components/modal/modal.html">Modal</a></li>
                        <li><a href="/components/rating/rating.html">Rating</a></li>
                        <li><a href="/components/toast/toast.html">Toast</a></li>
                        <li><a href="/components/grid/grid.html">Grid</a></li>
                        <li><a href="#">Slider</a></li>

                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <div class="heading">Navigation</div>
                <div class="intro-line">
                    Navigation bar is designed to navigate the user to perform main activities.
                </div>
                <div class="divider"></div>
                <div class="sub-heading">
                    <strong>Nav Bar</strong>
                </div>
                <div class="sub-head-content">
                    This navbar is used to take input from users by using <strong>class = "input-box"</strong>.

                    There are logo in the navbar created by using <strong>class = "logo"</strong>. Other than that
                    search box & action buttons can be created by using <strong>class = "action-boxx"</strong>
                </div>
                <div class="practical">
                    <header class="header">
                        <div class="logo">Panda Factory</div>
                        <div class="search-container">
                            <form action="">
                                <input id="search" type="search" placeholder="Search" />
                                <label for="search" class="bx bx-search-alt-2"></label>
                            </form>
                        </div>
                        <div class="action-icon">
                            <a href="#" class="login">Login</a>
                            <a href="" class="icon">
                                <i class="bx bx-heart"></i>
                                <span>0</span>
                            </a>
                            <a href="" class="icon">
                                <i class="bx bx-cart"></i>
                                <span>0</span>
                            </a>
                        </div>
                    </header>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;header class="header"&gt;
                            &lt;div class="logo"&gt;Panda Factory&lt;/div&gt;
                            
                            &lt;div class="search-container"&gt;
                                &lt;form action=""&gt;
                                    &lt;input id="search" type="search" placeholder="Search" /&gt;
                                    &lt;label for="search" class="bx bx-search-alt-2"&gt;&lt;/label&gt;
                                &lt;/form&gt;
                            &lt;/div&gt;

                            &lt;div class="action-icon"&gt;
                                &lt;a href="#" class="login">Login&lt;/a&gt;
                                &lt;a href="" class="icon"&gt;
                                    &lt;i class="bx bx-heart"&gt;&lt;/i&gt;
                                    &lt;span&gt;0&lt;/span&gt;
                                &lt;/a&gt;

                                &lt;a href="#" class="icon"&gt;
                                    &lt;i class="bx bx-cart"&gt;&lt;/i&gt;
                                    &lt;span&gt;0&lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/div&gt;

                        &lt;/header&gt;
                    </pre>
                </div>
                <div class="divider"></div>
                <footer>
                    <div class="pre-page">
                        <a href="/components/list/list.html">
                            <i class="bx bxs-left-arrow-alt"></i>List
                        </a>
                    </div>
                    <div class="next-page">

                        <a href="/components/modal/modal.html">
                            <i class='bx bxs-right-arrow-alt'></i>Modal
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/script.js"></script>
    </div>
</body>

</html>
