<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>
    <script
        src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby&amp;skin=sons-of-obsidian">
        </script>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/components/avatar/avatar.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./rating.css">
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-nav">
                <a href="#">
                    UI Book
                </a>
            </div>
            <button href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="right-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/alert/alert.html">Documentation</a></li>
                <li><a href="https://github.com/vermasavita/">GitHub</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="component-menu">
                <div class="titles"><strong>Components</strong>

                </div>
                <div class="list-items">
                    <ul>
                        <li><a href="/components/alert/alert.html">Alert</a></li>
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/badge/badge.html">Badge</a></li>
                        <li><a href="/components/button/button.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a href="/components/image/image.html">Image</a></li>
                        <li><a href="/components/input/input.html">Input</a></li>
                        <li><a href="/components/typography/typography.html">Typography</a></li>
                        <li><a href="/components/list/list.html">List</a></li>
                        <li><a href="/components/navigation/navigation.html">Navigation</a></li>
                        <li><a href="/components/modal/modal.html">Modal</a></li>
                        <li><a href="/components/rating/rating.html">Rating</a></li>
                        <li><a href="/components/toast/toast.html">Toast</a></li>
                        <li><a href="/components/grid/grid.html">Grid</a></li>
                       

                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <div class="heading">Rating</div>
                <div class="intro-line">
                    As the name suggests, rating shows the customer likes or dislike about the product. More rating
                    refers products is good and vice versa.
                </div>
                <div class="divider"></div>
                <div class="sub-heading">
                    <strong>Rating with Star Icon </strong>
                </div>
                <div class="sub-head-content">
                    This is simply showing rating with five star icons
                </div>
                <div class="practical">
                    <div class="rating-container">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="rating-container"&gt;

                            &lt;i class='bx bxs-star'&gt;&lt;/i&gt;
                            &lt;i class='bx bxs-star'&gt;&lt;/i&gt;
                            &lt;i class='bx bxs-star'&gt;&lt;/i&gt;
                            &lt;i class='bx bx-star'&gt;&lt;/i&gt;
                            &lt;i class='bx bx-star'&gt;&lt;/i&gt;

                        &lt;/div&gt; 
                    </pre>
                </div>
                <div class="sub-heading">
                    <strong>Rating with Number</strong>
                </div>
                <div class="sub-head-content">
                    Instead of star,  rating can be shown in numbers.
                </div>
                <div class="practical">
                    <div class="rating-container number-rating">
                        <p class="p-rating">4 <i class='bx bxs-star'></i></p>
                    </div>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="rating-container number-rating"&gt;

                            &lt;p&gt;4 &lt;i class='bx bxs-star'&gt;&lt;/i&gt;&lt;/p&gt;
                        
                        &lt;/div&gt;
                    </pre>
                </div>

                <div class="divider"></div>
                <footer>
                    <div class="pre-page">
                        <a href="/components/modal/modal.html">
                            <i class="bx bxs-left-arrow-alt"></i>Modal
                        </a>
                    </div>
                    <div class="next-page">
                        <a href="/components/toast/toast.html">
                            <i class='bx bxs-right-arrow-alt'></i>Toast
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/script.js"></script>
    </div>
</body>

</html>
