<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby&amp;skin=sons-of-obsidian">
    </script>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/components/avatar/avatar.css">
    <link rel="stylesheet" href="/components/badge/badge.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="left-nav">
                <a href="#">
                    UI Book
                </a>
            </div>
            <button href="#" class="toggle-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="right-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/alert/alert.html">Documentation</a></li>
                <li><a href="https://github.com/vermasavita/">GitHub</a></li>
            </ul>
        </nav>
        <div class="doc-container">
            <div class="component-menu">
                <div class="titles"><strong>Components</strong>

                </div>
                <div class="list-items">
                    <ul>
                        <li><a href="/components/alert/alert.html">Alert</a></li>
                        <li><a href="/components/avatar/avatar.html">Avatar</a></li>
                        <li><a href="/components/badge/badge.html">Badge</a></li>
                        <li><a href="/components/button/button.html">Button</a></li>
                        <li><a href="/components/card/card.html">Card</a></li>
                        <li><a href="/components/image/image.html">Image</a></li>
                        <li><a href="/components/input/input.html">Input</a></li>
                        <li><a href="/components/typography/typography.html">Typography</a></li>
                        <li><a href="/components/list/list.html">List</a></li>
                        <li><a href="/components/navigation/navigation.html">Navigation</a></li>
                        <li><a href="/components/modal/modal.html">Modal</a></li>
                        <li><a href="/components/rating/rating.html">Rating</a></li>
                        <li><a href="/components/toast/toast.html">Toast</a></li>
                        <li><a href="/components/grid/grid.html">Grid</a></li>
                     

                    </ul>
                </div>
            </div>
            <div class="doc-content">
                <div class="heading">Badge</div>
                <div class="intro-line">
                    As the name suggests, the badge makes the labeling. Like the label on the product card if it’s new / best selling / or on discount etc. Notification counts also come under labeling.
                </div>
                <div class="divider"></div>
                <div class="sub-heading">
                    <strong>Avatar Badge</strong>
                </div>
                <div class="sub-head-content">
                    Avatar badge helps us to find the current status of user at any online platform.
                    <span>It can be used with 3 variants : online | offline | dnd</span>
                </div>
                <div class="practical">
                    <div class="badge">
                        <img src="/images/img-avatar-1.jpeg" alt="image 1" class="avatar">
                        <span class="status online"></span>
                    </div>
                    <div class="badge">
                        <img src="/images/img-avatar-2.jpeg" alt="image 2" class="avatar">
                        <span class="status offline"></span>
                    </div>

                    <div class="badge">
                        <img src="/images/img-avatar-3.jpeg" alt="image 3" class="avatar">
                        <span class="status dnd"></span>
                    </div>


                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;div class="badge"&gt;
                          &lt;img src="/images/img-avatar-1.jpeg" alt="image 1" class="avatar"&gt;
                          &lt;span class="status online">&lt;/span&gt;
                         &lt;/div&gt;

                        &lt;div class="badge"&gt;
                            &lt;img src="/images/img-avatar-2.jpeg" alt="image 2" class="avatar"&gt;
                            &lt;span class="status offline">&lt;/span&gt;
                        &lt;/div>
    
                        &lt;div class="badge"&gt;
                            &lt;img src="/images/img-avatar-3.jpeg" alt="image 3" class="avatar"&gt;
                            &lt;span class="status dnd"&gt;&lt;/span&gt;
                        &lt;/div&gt;
                    </pre>
                </div>
                <div class="sub-heading">
                    <strong>Number icon Badge</strong>
                </div>
                <div class="sub-head-content">
                   Numbers on icon show number of notification or number of items added in cart.
                </div>
                <div class="practical">
                    <a class="icon-badge" href="#">
                        <i class='bx bxs-cart-alt'></i>
                        <span class="noticon">+3</span>
                    </a>
                    <a class="icon-badge " href="#">
                        <i class='bx bxl-gmail'></i>
                        <span class="noticon">+8</span>
                    </a>
                </div>
                <div class="code-box">
                    <pre class="prettyprint">
                        &lt;a class="icon-badge" href="#">&gt;
                            &lt;i class='bx bxs-cart-alt'&gt;&lt;/i&gt;
                            &lt;span class="noticon"&gt;+3&lt;/span&gt;
                        &lt;/a&gt;

                        &lt;a class="icon-badge " href="#"&gt;
                            &lt;i class='bx bxl-gmail'&gt;&lt;/i&gt;
                            &lt;span class="noticon"&gt;+8&lt;/span&gt;
                        &lt;/a&gt;
                    </pre>
                </div>

                <div class="divider"></div>
                <footer>
                    <div class="pre-page">
                        <a href="/components/avatar/avatar.html">
                            <i class="bx bxs-left-arrow-alt"></i>Avatar
                        </a>
                    </div>
                    <div class="next-page">
                        <a href="/components/button/button.html">
                            <i class='bx bxs-right-arrow-alt'></i>Button
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/script.js"></script>
    </div>
</body>

</html>
